---
title: Shop
icon: fa fa-table
stylesheets:
- lib/chosen1.6.2/chosen.css
- lib/datatables/datatables.bootstrap.min.css
javascripts:
- lib/moment/moment.min.js
- lib/chosen1.6.2/chosen.jquery.js
- lib/datatables/datatables.min.js
- lib/datatables/datatables.bootstrap.min.js
- lib/jquery-validation/jquery.validate.js
scripts:
- Metis.Jobs()
---
<style>
    .form-control.col-lg-6 {
        width: 50% !important;
    }
    .button-add-shop-owner {
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .row-shop-owner {
        cursor: pointer;
    }

    .dataTables_paginate a {
        padding-left: 15px;
        cursor: pointer;
    }
</style>

<!--Begin Datatables-->
<div class="row">
  <div class="col-lg-12">
        <div class="box">
            <header>
                <div class="icons"><i class="fa fa-table"></i></div>
                <h5>Nail Shop</h5>
            </header>
            <div id="dev-grid-shop-owner" class="body">
               <!-- generate grid-->
            </div>
            <div class="button-add-shop-owner">
                <button class="btn btn-primary" id="dev-add-shop-owner">Add Job</button> 
                <button class="btn btn-default" id="dev-cancel-shop-owner">Cancel</button>               
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<!--End Datatables-->



<div class="row" id="dev-edit-shop-owner-area" style="display:none">
    <div class="col-lg-12">
        <div class="box">
            <header>
                <div class="icons"><i class="fa fa-th-large"></i></div>
                <h5>Edit Area</h5>
                <!-- .toolbar -->
            {{> toolbar}}
            <!-- /.toolbar -->

            </header>
            <div id="collapseOne" class="body">
                <form class="form-horizontal" id="dev-shop-Owner-validate">

                    <div class="form-group">
                        <label class="control-label col-lg-4">Title</label>
                        <div class="col-lg-7">
                            <textarea id="Title" name="Title" class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4">Content</label>
                        <div class="col-lg-7">
                            <textarea id="Body" name="Body" class="form-control" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4">Phone Contact</label>
                        <div class="col-lg-7">
                            <textarea id="PhoneContact" name="PhoneContact" class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4">Salary</label>
                        <div class="col-lg-7">
                            <textarea id="Salary" name="Salary" class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                   

                    <div class="form-group">
                        <label class="control-label col-lg-4">Status</label>

                        <div class="col-lg-4" id="JobStatusId" name="JobStatusId">
                            <!-- generate combo -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4">Shop Name</label>

                        <div class="col-lg-7" id="NailShopId" name="NailShopId">
                            <!-- generate combo -->
                        </div>
                    </div>                    
                    

                    <div class="form-actions no-margin-bottom">
                        <input type="submit" class="btn btn-primary" value="Save Job" />
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
